
<form [formGroup]="form" *ngIf="form">
    <fieldset [disabled]="processing">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span class="bold">IMMUNIZATION HISTORY</span>
                    <a class="cursor-pointer" (click)="editMode = true" *ngIf="!editMode && !processing">Edit Details</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered" *ngIf="!editMode">
                    <tbody style="border: none">
                        <tr style="border: none">
                            <td class="no-border bold">VACCINE</td>
                            <td class="no-border bold">BRAND NAME</td>
                            <td class="no-border bold">LOT NUMBER</td>
                            <td class="no-border bold">DOSE NO.</td>
                            <td class="no-border bold">BOOSTER NO.</td>
                            <td class="no-border bold">ADMINISTERED ON</td>
                            <td class="no-border bold">NEXT DOSE ON</td>
                        </tr>
                    </tbody>
                    <tbody skeleton-loader [rows]="3" [columns]="7" *ngIf="processing"></tbody>
                    <tbody *ngIf="!processing">
                        <tr *ngFor="let item of items?.data">
                            <td>{{ item?.vaccine }}</td>
                            <td>{{ item?.brand_name }}</td>
                            <td>{{ item?.lot_no }}</td>
                            <td>{{ item?.dose_no }}</td>
                            <td>{{ item?.booster_no }}</td>
                            <td>{{ item?.administered_on | date: 'mediumDate' }}</td>
                            <td>{{ item?.next_dose_on | date: 'mediumDate' }}</td>
                        </tr>
                        <tr *ngIf="items?.data?.length < 1">
                            <td colspan="7">No Immunizations</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="editMode">
                    <div *ngFor="let control of immunizations?.controls; let i = index" [formGroup]="control" class="add-immunization">
                        <div class="form-row">
                            <div class="col">
                                <small class="text-muted">Vaccine</small>
                                <input type="text" class="form-control" formControlName="vaccine"/>
                            </div>
                            <div class="col">
                                <small class="text-muted">Brand Name</small>
                                <input type="text" class="form-control" formControlName="brand_name"/>
                            </div>
                            <div class="col">
                                <small class="text-muted">Lot No.</small>
                                <input type="text" class="form-control" formControlName="lot_no"/>
                            </div>
                            <div class="col">
                                <small class="text-muted">Dose No.</small>
                                <input type="number" class="form-control" formControlName="dose_no"/>
                            </div>
                            <div class="col">
                                <small class="text-muted">Booster No.</small>
                                <input type="number" class="form-control" formControlName="booster_no"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <small class="text-muted">Administered On</small>
                                <input type="date" class="form-control" formControlName="administered_on"/>
                            </div>
                            <div class="col">
                                <small class="text-muted">Next Dose On</small>
                                <input type="date" class="form-control" formControlName="next_dose_on"/>
                            </div>
                        </div>
                        <div class="text-right mt-3">
                            <button class="btn btn-danger" (click)="remove(i)" *ngIf="i < immunizations?.controls?.length - 1"><i class="fas fa-minus mr-2"></i> Remove</button>
                            <button class="btn btn-primary" (click)="add()" *ngIf="i === immunizations?.controls?.length - 1"><i class="fas fa-plus mr-2"></i> Add</button>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-3" *ngIf="editMode">
                    <button class="btn btn-primary mr-2" (click)="save()">Save</button>
                    <button class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>