<div class="row pt-2 pl-2" *ngIf="loading">
    <div class="col">
        <div class="p-5">
            Loading credentials..
        </div>
    </div>
</div>
<fieldset [disabled]="processing" *ngIf="!loading">
    <div class="row pt-4">
        <div class="col">
            <app-credentials #credentials></app-credentials>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 col-sm-12">
            <form [formGroup]="form" *ngIf="form">
                <div class="form-group" formGroupName="s2_license">
                    <span class="bold-400 text-muted">S2 License Number</span><br>
                    <input type="text" class="form-control form-control-lg" formControlName="number">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-file-upload label="S2 License" (preview)="setImageControl($event,'s2License','s2_license.file')" [image]="doctor?.s2_license?.file?.file_url"></app-file-upload>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 col-sm-12">
            <form [formGroup]="form" *ngIf="form">
                <div class="form-group" formGroupName="ptr_license">
                    <span class="bold-400 text-muted">PTR Number</span><br>
                    <input type="text" class="form-control form-control-lg" formControlName="number">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-file-upload label="PTR" (preview)="setImageControl($event,'ptrLicense','ptr_license.file')" [image]="doctor?.ptr_license?.file?.file_url"></app-file-upload>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col text-right">
            <button type="button" (click)="save()" class="btn btn-primary btn-lg mr-2" [disabled]="form?.invalid || credentials?.form?.invalid || processing || loading" >
                Update Credentials<i *ngIf="processing" class="ml-2 nav-icon fas fa-circle-notch spinning"></i>
            </button>
            <button class="btn btn-outline-primary btn-lg" (click)="back()" >
                Go Back
            </button>
        </div>
    </div>
</fieldset>