.fa-bars {
  cursor: pointer;
}

.nav-item {
  .nav-link {
    cursor: pointer;
  }
}

.profile-pic-btn {
  border-radius: 50%;
  width: 30px;
  border: 2px solid #fff;
  height: 30px;
}

.no-ml {
  margin-left: 0rem!important;
}
