<div>
    <button class="btn btn-default" (click)="goBack()">
        <i class="fas fa-angle-left"></i>
        <span class="bold-400 ml-2">Go Back</span>
    </button>
</div>
<fieldset [disabled]="processing">
    <div class="div mt-4 reset-password">
        <div class="row">
            <div class="col">
                <h3 class="text-primary bold">Reset Password</h3>
                <span>Your new password must be different from previous used passwords.</span>
                <form [formGroup]="form" *ngIf="form" class="mt-3">
                    <div class="form-group">
                        <span class="text-mute bold-400">Current Password</span>
                        <p-password styleClass="password-style" [feedback]="false" inputStyleClass="form-control" [toggleMask]="true" formControlName="password"></p-password>
                    </div>
                    <div class="form-group">
                        <span class="text-mute bold-400">New Password</span>
                        <p-password styleClass="password-style" [feedback]="false" inputStyleClass="form-control" [toggleMask]="true" formControlName="new_password"></p-password>
                    </div>
                    <div class="form-group">
                        <span class="text-mute bold-400">Confirm Password</span>
                        <p-password [class.error]="form?.value?.new_password !== form?.value?.confirm_password" styleClass="password-style" [feedback]="false" inputStyleClass="form-control" [toggleMask]="true" formControlName="confirm_password"></p-password>
                        <small class="text-danger" *ngIf="getControl('confirm_password')?.touched && form?.value?.new_password !== form?.value?.confirm_password">Password does not match</small>
                    </div>
                </form>
                <button class="btn btn-primary btn-block mt-4" [disabled]="form?.value?.new_password !== form?.value?.confirm_password" (click)="save()">
                    Reset Password<i *ngIf="processing" class="ml-2 nav-icon fas fa-circle-notch spinning"></i>
                </button>
            </div>
        </div>
    </div>
</fieldset>