.user-image {
    font-size: 3rem;
}
.user-image-container {
    border: 1px solid #ccc;
    border-radius: 100%;
}

.logo {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -75px;
}

.card {
    border: none;

    .login-card-body {

        .login-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 60px 80px;
        }
    }
}