<img class="logo" src="assets/img/logo.png" width="150px">

<!-- /.login-logo -->
<div class="card light-shadow">
  <div class="card-body login-card-body text-center">
    <div class="login-form">
        <div class="w-100">
            <div class="text-center d-flex justify-content-center">
                <div class="icon-onboarding d-flex justify-content-center align-items-center"><i class="fas fa-key"></i></div>
            </div>
            <h2 class="text-primary bold mt-3">Create new password</h2>
            <h5>Your new password must be different from your previous used passwords</h5>
            <form [formGroup]="form" *ngIf="form" class="mt-3">
                <div class="form-group text-left">
                    <span class="text-mute bold-400">Password</span>
                    <p-password styleClass="password-style" [feedback]="false" inputStyleClass="form-control" [toggleMask]="true" formControlName="new_password"></p-password>
                </div>
                <div class="form-group text-left">
                    <span class="text-mute bold-400">Confirm Password</span>
                    <p-password [class.error]="form?.value?.new_password !== form?.value?.confirm_password" styleClass="password-style" [feedback]="false" inputStyleClass="form-control" [toggleMask]="true" formControlName="confirm_password"></p-password>
                    <small class="text-danger" *ngIf="getControl('confirm_password')?.touched && form?.value?.new_password !== form?.value?.confirm_password">Password does not match</small>
                </div>
            </form>
            <button class="btn btn-primary btn-lg btn-block mt-4" [disabled]="processing || (form?.value?.new_password !== form?.value?.confirm_password)" (click)="updatePassword()">
                Reset Password<i *ngIf="processing" class="ml-2 nav-icon fas fa-circle-notch spinning"></i>
            </button>
        </div>
    </div>
  </div>
  <!-- /.login-card-body -->
</div>