<div class="p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/guest']" >Home</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/guest', patientID]" >Select Service</a></li>
          <li class="breadcrumb-item active" aria-current="page">Consult Now</li>
        </ol>
    </nav>
</div>
<div class="d-flex justify-content-center align-items-center flex-column body-wrapper p-5">
    <h1 *ngIf="processing">
        Loading..
    </h1>
    <div *ngIf="!processing">
        <div class="card" *ngFor="let service of services?.data">
            <div class="card-body">
                <div class="text-center">
                    <img src="assets/img/user-stock.jpg" width="130px">
                </div>
                <div class="mt-2">
                    <b>{{ service?.resource?.resource_display }}</b><br>
                    {{ service?.price?.toLocaleString('en-US', {style: 'currency', currency: 'PHP'}) }}
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-block" (click)="book(service)">
                    <i class="fas fa-calendar-alt"></i>
                    Book Now
                </a>
            </div>
        </div>
    </div>
</div>