.terms-wrapper {
    .terms-container {
        height: 40vh;
        overflow: hidden;
        overflow-y: auto;
        border: 1px solid var(--mwell-border-color);
        padding: 20px;
        border-radius: 10px;
            
        &::-webkit-scrollbar {
            width: 8px;
        }
         
        &::-webkit-scrollbar-track {
            background-color: #e4e4e4;
            border-radius: 100px;
        }
         
        &::-webkit-scrollbar-thumb {
            background-color: #c4c4c4;
            border-radius: 100px;
        }
    }
}