.visit-time {
    background-color: #0073b7;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
  }
  
  .initial-time {
    background-color: #c4c4c4;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
  }