<div class="card mt-4 text-color">
    <div class="card-header p-3 bg-transparent">
        <div class="text-right pr-3">
            <button class="btn btn-primary mr-2" (click)="save()" [disabled]="!isValid || processing">Update</button>
            <button class="btn btn-outline-primary " [routerLink]="['/patient', patientID, 'profile']" [disabled]="processing">Cancel</button>
        </div>
        <div class="container-fluid p-3">
            <div class="row pb-3">
                <div class="col">
                    <app-registration
                        #patientRegistration
                        (updateFormValidity)="updateFormValidity($event)"
                    ></app-registration>
                </div>
            </div>
        </div>
        <div class="text-right pt-4 pr-3">
            <button class="btn btn-primary mr-2" (click)="save()" [disabled]="!isValid || processing">Update</button>
            <button class="btn btn-outline-primary " [routerLink]="['/patient', patientID, 'profile']" [disabled]="processing">Cancel</button>
        </div>
    </div>
</div>


<p-dialog
  header="Confirm"
  [(visible)]="confirm"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [baseZIndex]="2000"
  [position]="'center'"
  [closable]="false"
  [closeOnEscape]="false"
  [draggable]="false"
>
  <p>
    A new patient record will be created. Are you sure you want to save and
    create a new patient record?
  </p>
  <div class="float-right">
    <button class="btn btn-primary mr-2" (click)="save()" [disabled]="processing">
      Create New Patient
      <i *ngIf="processing" class="ml-2 nav-icon fas fa-circle-notch spinning"></i>
    </button>
    <button class="btn btn-default" (click)="confirm = false">Cancel</button>
  </div>
</p-dialog>