.video-container {
    width: calc(30vw - 1rem);
    height: 100%;
    background-color: rgb(172, 172, 172);
    box-shadow: 0px 0px 10px #3d3d3d;
}

.body-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.enter-waiting-room {
    background-color: white;
    border-radius: 20px;
}