<div class="bg2-img" [ngStyle]="{'background-image': 'url(assets/img/bg2.png)'}">
    <div class="card light-shadow-blue">
        <div class="card-body px-4 mx-4 text-center">
            <div class="d-flex justify-content-center w-100">
                <div class="icon-onboarding d-flex justify-content-center align-items-center"><i class="fas fa-address-book"></i></div>
            </div>

            <div class="row my-2">
                <div class="col-4 pr-0 profile-text">
                    <span>Profile Information</span>
                </div>
                <div class="col-1 px-0 pt-1">
                    <i class="fa fa-chevron-right text-warning" aria-hidden="true"></i>
                </div>
                <div class="col-3 px-0 pt-2 profile-text">
                    <span>Credentials</span>
                </div>
                <div class="col-1 px-0 pt-1">
                    <i class="fa fa-chevron-right text-warning" aria-hidden="true"></i>
                </div>
                <div class="col-3 px-0 profile-text-gray">
                    <span>Service Agreement</span>
                </div>
            </div>
            <div class="progress mb-4" style="height: 8px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 71%" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <fieldset [disabled]="processing || loading">
                <div class="row text-left">
                    <div class="col-12 text-primary bold h5">
                        <span>Enter your credentials</span>
                    </div>
                    <div class="col-12">
                        <span>Please enter your credentials and other professional information.</span>
                        <hr>
                    </div>
                    <div class="col-12 text-primary bold h6">
                        <label for="specialty">Specialty</label>
                        <app-autocomplete #specialtyComp (search)="searchSpecialties($event)" [results]="specialties" [field]="'text'" (select)="updateSpecialtyForm()" (unselect)="updateSpecialtyForm()"></app-autocomplete>
                    </div>
                    <div class="col-12 text-primary bold h6 py-4">
                        <label for="sub-specialty">Sub - Specialty</label>
                        <app-autocomplete #subspecialtyComp (search)="searchSubspecialties($event)" [results]="subspecialties" [field]="'text'" (select)="updateSubspecialtyForm()" (unselect)="updateSubspecialtyForm()"></app-autocomplete>
                    </div>
                    <div class="col-12 text-primary bold h6 pb-0">
                        <span>Hospital Affiliations</span>
                    </div>
                    <div class="col-12 pb-4">
                        <label for="hospital-affiliations" class="text-gray text-sm">Enter the hospitals that you are affiliated with.</label>
                        <div class="form-group">
                            <app-autocomplete #hospitalComp (search)="searchHospitalMasters($event)" [results]="hospitalMasters" [field]="'facility_name'" (select)="updateHospitalForm()" (unselect)="updateHospitalForm()"></app-autocomplete>
                        </div>
                        <!-- <p-multiSelect [options]="hospitalMasters" formControlName="hospital"
                            optionLabel="facility_name" optionValue="id" display="chip">
                        </p-multiSelect> -->
                    </div>
                    <div class="col-12 text-primary bold h6 pb-0">
                        <span>HMO Accreditations</span>
                    </div>
                    <div class="col-12 pb-4">
                        <label for="hospital-accreditations" class="text-gray text-sm">Enter the HMOs that you accept.</label>
                        <app-autocomplete #hmoComp (search)="searchHMOMasters($event)" [results]="hmoMasters" [field]="'hmo_text'" (select)="updateHmoForm()" (unselect)="updateHmoForm()"></app-autocomplete>
                    </div>
                    <div class="col-12 pt-4">
                        <div class="d-flex justify-content-between w-100">
                            <button
                                style="min-width: 200px"
                                class="btn btn-outline-warning btn-lg"
                                [routerLink]="['/onboarding/profile-info']" routerLinkActive="router-link-active" >
                                Back
                            </button>
                            <button
                                style="min-width: 200px"
                                type="button"
                                (click)="save()"
                                class="btn btn-primary btn-lg"
                                [disabled]="form?.invalid || processing || loading">
                                Next
                                <i *ngIf="processing" class="ml-2 nav-icon fas fa-circle-notch spinning"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>