.reset-password {
    max-width: 600px;
}

.code-input {
    padding-right: 143px !important;
}

.send-code {
    position: absolute;
    right: 10px;
    top: 6px;
    background-color: #cddceb;
    color: var(--mwell-primary-color);
    font-weight: 600;
}