.virtual-clinic {
    box-sizing: border-box;

    width: 100%;
    height: 132px;

    background: #FFF1D6;
    border: 1px solid #FFA800;
    border-radius: 20px;
    padding-top: 5%;
    margin-bottom: 20px;
    cursor: pointer;
}

.virtual-clinic span {
    // padding: 25%;
    width: 132px;
    // height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFA800;
}

.virtual-clinic-gray {
    box-sizing: border-box;

    width: 100%;
    height: 132px;

    background: #EDEDED;
    border: 1px solid #A4A4A4;
    border-radius: 20px;
    padding-top: 5%;
    margin-bottom: 20px;
}

.virtual-clinic-gray span {
    // padding: 25%;
    width: 132px;
    // height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #A4A4A4;
}

.bg2-img {
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 90px 160px;
}

.profile-text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFA800;
}

.profile-text-gray {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: lightgray;
}

.text-lightgray {
    color: lightgray;
}

.bg-lightgray {
    background-color: #A8A8A8;
    border-color: #A8A8A8;
}

.icon2 {
    background-color: #cfddeb;
    // border: 10px solid #cfddeb;
    border-radius: 100%;
    width: 58px;
    height: 58px;

    i {
        font-size: 2rem;
        color: var(--mwell-primary-color);
    }
}

.checkbox-label {
    text-align: center !important;
    font-weight: 600 !important;
    width: 80px !important;
    height: 24px !important;
    background: #CFDDEA !important;
    border-radius: 5px !important;
}
