.icon {
    background-color: #cfddeb;
    border-radius: 100%;
    width: 70px;
    height: 70px;

    i {
        font-size: 2rem;
        color: var(--mwell-primary-color);
    }
}
.verify-spinner {
    font-size: 3rem;
}